#root{
  margin:auto;
}
h2{
  text-align: center;
  color: aliceblue;
}
.back{
  /* background-color:burlywood; */
  color: white;
 }
button{
  background-color: rgb(44, 43, 43) ;
  border: none;
  outline: none;
  cursor: pointer;
}
.name_div{
  /* background-color:burlywood; */
  margin:1%;
  padding: 1%;
  text-align: center;
  /* width:25%; */
}
.name_style{
  /* background-color: antiquewhite; */
  color: aliceblue;
  font-size: larger;
  font-weight: 700;
}